body {
	font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

#root > .container{
	width: 75%;
}

#reviews > .container{
	width: 75%;
}

#reviews .storeReviews .container{
	width: 100%;
}


#reviews .productReviews .container{
	width: 100%;
}