
#reviews .wt-tab {
	display: flex;
	border-bottom: 2px solid rgba(34, 34, 34, 0.15);
}

#reviews .wt-display-flex-xs.wt-align-items-center.wt-mb-xs-1 {
	display: flex !important;
	padding: 5px;
}

#reviews .date {
	color: #595959 !important;
	margin:auto 0;
	font-size: 13px;
}

#reviews .text {
	text-align: left;
	font-weight: 400;
	color: #222;
	font-size: 16px;
	word-break: break-word !important;
	overflow-wrap: break-word !important;
	word-wrap: break-word !important;
}
.wt-tab__item {
	white-space: nowrap;
	background: none;
	border: none;
	color: inherit;
	font: inherit;
	cursor: pointer;
	text-align: left;
	outline: none;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
	align-items: center;
	padding: 12px 0;
	margin: 0 11px 0 0;
	position: relative;
	font-size: 16px;
}

.wt-tab .wt-tab__item:after {
	display:block !important;
	content: '';
	transform: scaleX(0);
	bottom: -50% !important;
	left: -6%;
  width: 220px;
	position: inherit;
	border-bottom: 2px solid rgba(34, 34, 34, 0.5);
	transition: transform 250ms ease-in-out;
}

.productReviews #product-reviews-button {
	border-bottom: 2px solid #222222 !important;
}

.storeReviews #store-reviews-button {
	border-bottom: 2px solid #222222 !important;
}

.wt-tab .wt-tab__item:hover:after {
	transform: scaleX(1);
}

#reviews .wt-badge {
	margin-left: 12px !important;
	background: #EAEAEA;
	border-radius: 15px;
	display: inline-block;
	word-break: break-word;
	line-height: 1;
	font-size: 13px;
	font-weight: normal;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 9px;
	padding-right: 9px;
	min-width: 25px;
}

#reviews .etsy-icon svg{
	height: 18px;
	width: 18px;
	font-size: 14px;
	margin-right: 6px;
	margin-bottom: 10px;
}

#reviews .container{
	padding-left: 48px;
}



.productReviews .main-image-container{
	display:none;
}

.storeReviews .main-image-container {
	font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 18px;
	padding-top: 20px;
	margin-bottom: 30px;
}
.storeReviews .main-image-container img {
	border-radius: 6px !important;
	overflow: hidden !important;
	height: 40px;
	width: 40px;
}

.wt-text{
	text-decoration: underline;
	transition: opacity 200ms ease-out;
	color: #595959 !important;
	margin-left: 15px;
}