#reviews .user img {
	border-radius: 50% !important;
	overflow: hidden !important;
	height: 36px;
  width: 36px;
}

#reviews .username {
	margin: auto;
	padding: 0px 7px;
	font-size: 13px;
	text-decoration: underline;
	color: #595959 !important;
}

#reviews .wt-text-gray:hover {
	cursor: pointer;
	color: lightgray !important;
}
